
<div class="image">
<%= image_tag("header.jpg", :id => "headerimage", :alt => "header", :style => "width: 100%;", :onclick => "openClose('leaveopen')") %>
<br />
<p id = "leaveopen" onclick = "openClose('leaveopen')"></br>The hackathon, reinvented.<br/><br /></p>
<br />
<%= image_tag("arrow.png", :id => "arrow", :onclick => "openClose('leaveopen')") %>
</div>

<article id = "row" tag ="bounce">
<h2>What is Hack+?</h2>
<p>It's a hackathon! We have noticed that underclassmen avidly search for opportunities to begin application development, but often do not find the means, resources, or experience to begin. Hack+ allows you to do just that. You provide the brains, we provide everything else.</p>

<h2>What makes us different?</h2>
<p>Hack+ is a semester long hackathon, and you will be given resources and mentors to help you produce those awesome application ideas we know you have. What you receive from it is equivalent to what you dedicate. You can meet with your team weekly, monthly, or even finish your project during a 24-hour hackathon! </p>

</article>

<br />

<div class = "image">

<%= image_tag("arrow.png", :id => "arrow", :class => "upside-down", :onclick => "openClose('leaveopen2')") %>
<br />
<p id = "leaveopen2" onclick="openClose('leaveopen2')"><br />"You provide the brains, we provide everything else"<br /><br /></p>

<%= image_tag("slogan.jpg", :alt => "slogan", :style => "width: 100%; border-top: 4px solid white;", :onclick => "openClose('leaveopen2')") %>
</div>

<div id = "attributes">
  <span class = "attribute"><%= link_to "Participate", "http://goo.gl/J1AKth" %>  </span>
  <span id = "middle">|</span> <span class = "attribute"><%= link_to "Be a Mentor", "http://goo.gl/rIIoVi" %></span> 
<!--  <span class = "attribute">Register Team</span>-->
</div>

<br />

<article id = "row">
<h2 id = "" >Mentorship</h2>

<p>ACM Hacks provides a unique semester-long mentoring program for underclassmen to receive upperclassmen and company sponsored guidance on areas they are interested in. </p>

<h2>Resources</h2>
<p>Need an Arduino? Leap Motion? Raspberry Pi(es)? No problem. ACM is providing any hardware/software resources that teams want to develop with/for within reason. You tell us what you need, we'll provide it for you.</p>

<h2>Prizes</h2>
<p>A competition without prizes is like Pittsburgh without rain - you can't have one without the other. The prizes are to be announced, but we assure you of their awesomeness.</p>

<br/>
<h3>Please direct questions, concerns, and free food to Vilcya at vwiranta@andrew or Stephanie at sluck@andrew.</h3>
</article>

<div id = "schedule">
  <span> <%= image_tag("schedulelogo.png", :alt => "schedule", :style => "width: 40px; position:relative; top: 3px;") %></span>
  <span>Matching Event Schedule</span>
</div>
<article id = "row">
  <p>The matching event is scheduled to be Friday, September 20 at 5:30pm, location is Newell Simon 3002. During this time, individuals without teams will have the opportunity to form one and pair up with mentors that share their interests. There will be food!</p>
<br />
<p tag = "center">
  <b> 5:30 pm : </b> Mentor Introductions 
  <br />
  <b> 5:45 pm : </b> Meet and Greet Mentors, Form Teams
  <br />
  <b> 6:15 pm : </b> Small Group Brainstorm
  <br />
  <b> 6:30 pm+ : </b> Team Sign Up, Hack+ Kickoff
</p>

</article>


<br />
