
<div class="image">
<%= image_tag("header.png", :id => "headerimage", :alt => "header", :style => "width: 100%;", :onclick => "openClose('leaveopen')") %>
<br />
<p id = "leaveopen" onclick = "openClose('leaveopen')"></br>The hackathon, reinvented.<br/><br /></p>
<br />
<%= image_tag("arrow.png", :id => "arrow", :onclick => "openClose('leaveopen')") %>
</div>

<article id = "row" tag ="bounce">
<h2>What is Hack+?</h2>
<p>It's a hackathon. You provide the brains, we provide everything else. </p>

<p>Getting used to Carnegie Mellon life is a substantial endeavor - classes, homework, food, more homework, and then (maybe) a little sleep. Most underclassmen are interested in application development, but often do not have time or the resources to start. Hack+ is a unique hackathon presented by the Association of Computing Machinery (ACM) which will help underclassmen do just that. </p>

<h2>How long is Hack+?</h2>
<p>Hack+ is a semester long hackathon. You can meet with your team every week, month, or even finish your project within the span of a 24-hour hackathon. </p>

</article>

<br />

<div class = "image">

<%= image_tag("arrow.png", :id => "arrow", :class => "upside-down", :onclick => "openClose('leaveopen2')") %>
<br />
<p id = "leaveopen2" onclick="openClose('leaveopen2')"><br />"You provide the brains, we provide everything else"<br /><br /></p>

<%= image_tag("slogan.png", :alt => "slogan", :style => "width: 100%; border-top: 4px solid white;", :onclick => "openClose('leaveopen2')") %>
</div>

<div id = "attributes">
  <span class = "attribute"><%= link_to "Participate", "http://goo.gl/J1AKth" %>  </span>
  <span id = "middle">|</span> <span class = "attribute"><%= link_to "Be a Mentor", "http://goo.gl/rIIoVi" %></span> 
<!--  <span class = "attribute">Register Team</span>-->
</div>

<br />

<article id = "row">
<h2 id = "" >Mentorship</h2>

<p>ACM Hacks provides a unique semester-long mentoring program for underclassmen to receive upperclassmen and company sponsored guidance on areas they are interested in. </p>

<h2>Resources</h2>
<p>Need an Arduino? Leap Motion? Kinect? No problem. ACM is providing any hardware/software resources that teams want to develop with/for within reason. You tell us what you need, we'll provide it for you.</p>

<h2>Prizes</h2>
<p>A competition without prizes is like Pittsburgh without rain - you can't have one without the other. The prizes are to be announced, but we assure you of their awesomeness.</p>
</article>

<br />
