<%= image_tag("mentorheader.jpg", :alt => "header", :style => "width: 100%;") %>
<article id="row">
<h2>Our Awesome Mentors</h2>
<p>Below is a current list of our mentors. Feel free to contact them if you're interested in their skills.</p>
</article>



<h3 class = "mentortype">Mobile</h3>
<article class = "allbios">

<div class = "bio">
<%= image_tag 'mentors/vibha.png', :alt => "Vibha Rao", :class => "mentorpic" %>
<!-- Note - the javascript onclick is a workaround to the chrome cache bug -->
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:vibhar@andrew.cmu.edu')")%>

<p class = "biotextpres">Vibha Rao</p> 
<p class ="biotext">Vibha Rao has experience in web applications written in javascript/html/css as well as iOS development. She also has database experience with both mongoDB/mongoose and mySQL/postgres. </p>
</div>

<div class = "bio">
<%= image_tag 'mentors/prasanth.jpg', :alt => "Prasanth Somasundar", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:psomasu1@andrew.cmu.edu')")%>

<p class = "biotextpres">Prasanth Somasundar</p> 
<p class ="biotext"> Hey guys, I'm prasanth and I'm a senior CS/Business dual degree student. I spent the summer at Amazon and have a lot of experience working with android. </p>
</div>

<div class = "bio">
<%= image_tag 'mentors/isaac.jpg', :alt => "Isaac Lim", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:idl@andrew.cmu.edu')")%>

<p class = "biotextpres">Isaac Lim</p> 
<p class ="biotext"> I like creating iOS apps that look good and work beautifully on your shiny new iPhone running iOS 7. My expertise are Objective-C, iOS dev and misc web stuff. </p>
</div>

<div class = "bio">
<%= image_tag 'mentors/peyton.jpg', :alt => "Peyton Randolph", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:pjrandolph@gmail.com')")%>
<p class = "biotextpres">Peyton Randolph</p> 
<p class ="biotext"> Hey guys, I worked on the iOS app at Tumblr this past summer and would love to pass on some mobile knowledge. Doesn't matter if you've already written an app or are just starting out.</p>
</div>

<div class = "bio">
<%= image_tag 'mentors/tom.jpg', :alt => "Tom Zhang", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:tcz@andrew.cmu.edu')")%>
<p class = "biotextpres">Tom Zhang</p> 
<p class ="biotext">Hi, I'm Tom, and I like cars. I've had experience making Android apps and web (ie, Javascript and HTML5) apps, and I'm looking for a team to build something cool with me. Hopefully, it will relate to cars, but I have plenty of ideas that aren't car-related.</p>
</div>



</article>


<h3 class = "mentortype">UX/Design</h3>
<article class = "allbios">

<div class = "bio">
<%= image_tag 'mentors/ryhan.jpg', :alt => "Ryhan Hassan", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('http://www.ryhan.me')")%>
<p class = "biotextpres">Ryhan Hassan</p> 
<p class ="biotext"> I'm a CS senior focused on user interface design and front-end web development. Previously I wrote JavaScript at Apple, Google, and a small canadian company called Metalab Design.</p>
</div>

<div class = "bio">
<%= image_tag 'mentors/kevin.jpg', :alt => "Kevin Schaefer", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:kevinjschaefer@gmail.com')")%>
<p class = "biotextpres">Kevin Schaefer</p> 
<p class ="biotext"> I'm an IS + HCI junior with significant experience in interaction design and prototyping. This summer, I worked as a design intern at Apple.</p>
</div>

<div class = "bio">
<%= image_tag 'mentors/celine.jpg', :alt => "Celine Nguyen", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:hello@celinenguyen')")%>
<p class = "biotextpres">Celine Nguyen</p> 
<p class ="biotext"> I study CS and communication design and subsist on a diet of RSS feeds. Talk to me about learning and doing design, frontend stuff, human factors, & typographic trivia and minutiae.  </p>
</div>

</article>


<h3 class = "mentortype">Web</h3>

<article class = "allbios">


<div class = "bio">
<%= image_tag 'mentors/ankit.jpg', :alt => "Ankit Soni", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:ankitson@cmu.edu')")%>
<p class = "biotextpres">Ankit Soni</p> 
<p class ="biotext">I'm excited about building out a product idea and taking it as far as we can into a startup. I can provide mentorship with project management, web app dev (MVC - Python/Django/RoR, jQuery), computer security and general UNIX stuff. </p>
</div>


<div class = "bio">
<%= image_tag 'mentors/naman.jpg', :alt => "Naman Bharadwaj", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:nbharadw@andrew.cmu.edu')")%>
<p class = "biotextpres">Naman Bharadwaj</p> 
<p class ="biotext"> He has experience in: back-end web dev with Python Flask, Node.js, MongoDB, Redis, and SQL; developing and consuming web APIs, including those used for music applications; linux, assembly, systems development, and algorithms!</p>
</div>


<div class = "bio">
<%= image_tag 'mentors/connie.jpg', :alt => "Connie Wen", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:cswen@andrew.cmu.edu')")%>

<p class = "biotextpres">Connie Wen</p> 
<p class ="biotext"> I like creating web apps using a combination of JQuery, HTML, CSS, and Ruby on Rails or PHP + MySQL for the backend!</p>
</div>

<div class = "bio">
<%= image_tag 'mentors/nivedita.jpg', :alt => "Nivedita Chopra", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:niveditc@andrew.cmu.edu')")%>

<p class = "biotextpres">Nivedita Chopra</p> 
<p class ="biotext">I'm fond of all facets of web development. Besides HTML/CSS/JS, I've worked with MongoDB, node.js, Bootstrap and AngularJS (which I'm a big fan of). I'm always up for trying something new and exciting, so the sky is the limit! </p>
</div>

<div class = "bio">
<%= image_tag 'mentors/kedar.jpg', :alt => "Kedar Amladi", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:kamladi@gmail.com')")%>
<p class = "biotextpres">Kedar Amladi</p> 
<p class ="biotext">I have strong experience in web development, especially frontend. I've worked on Node.js, Python, Ruby webapps, as well as relational and non-relational databases. I also have some experience with Arduinos and Android. </p>
</div>

<div class = "bio">
<%= image_tag 'mentors/daniel.jpg', :alt => "Daniel Hasegan", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:dhasegan@andrew.cmu.edu')")%>
<p class = "biotextpres">Daniel Hasegan</p> 
<p class ="biotext"> I know CSS/less/bootstrap/Javascript/ jQuery and Django, relational DB mysql and nonrelational mapreduce (some pig) and cloud technologies. Familiar with ruby on rails and scala. Good with linux and algorithms.</p>
</div>



</article>

<h3 class = "mentortype">General/Misc</h3>

<article class = "allbios">


<div class = "bio">
<%= image_tag 'mentors/dan.jpg', :alt => "Dan Yang", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:danyang@cmu.edu')")%>

<p class = "biotextpres">Dan Yang</p> 
<p class ="biotext"> Hi! I'm a senior CS major that wants to make cool things. I have experience with Android, JavaScript, Python, Haskell, C/C++, and learning. If you have something cool you want to do, I'll learn how to use the tech/hardware with you!</p>
</div>

<div class = "bio">
<%= image_tag 'mentors/ryan.jpg', :alt => "Ryan Flood", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:rflood@andrew.cmu.edu')")%>

<p class = "biotextpres">Ryan Flood</p> 
<p class ="biotext"> Aside from hackathons and web development, I am a cyber-security nut, competing in cyber-security CTFs and breaking everything I can get his hands on.  My core skills are Ruby on Rails, front-end web development, and python scripting.  </p>
</div>

<div class = "bio">
<%= image_tag 'mentors/matt.jpg', :alt => "Matt Sebek", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:msebek@andrew.cmu.edu')")%>

<p class = "biotextpres">Matt Sebek</p> 
<p class ="biotext"> Matt likes HTML5, Big data, functional programming, and embedded systems. In his free time, he TAs 15-150, and is working with Formula SAE to build a real-time wireless monitoring system for their new all-electric racecar. </p>
</div>

<div class = "bio">
<%= image_tag 'mentors/yury.jpg', :alt => "Yury Chernushenko", :class => "mentorpic" %>
<%= image_tag("mail.png", :alt => "contact", :class => "mailtag", :onClick=> "goToWebsite('mailto:y.chernushenko@gmail.com')")%>

<p class = "biotextpres">Yury Chernushenko</p> 
<p class ="biotext">IT consultant at Accenture experienced in roll-out of diverse ERP systems. Interested in Holistic health projects (Fitbit, Nike Fuelband), embedded systems (Arduino, Raspberry Pi)  and wearable electronics with a connection to web interface.</p>
</div>


</article>


<article id="row">
<h2>Be a Mentor</h2>
<p>If you have experience with application development, and would like to be a mentor, please fill out the mentor <%= link_to "form", "http://goo.gl/6C0RJo" %>. Since sign ups for the kick off are closed, we will be adding on mentors based on team needs. </p>
</article>




