<!DOCTYPE html>
<html>
<head>
  <title>hack+</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "home" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to(image_tag("logo.png", :alt => "logo", :style => "width: 150px;"), 
              root_path) %>
  <div id ="nav">
    <%= link_to("Home", root_path) %> |
    <%= link_to("Teams", :controller => 'pages', :action => 'teams') %> |
    <%= link_to("Mentors", :controller => 'pages', :action => 'mentors') %> |
    <%= link_to("Sponsors", :controller => 'pages', :action => 'sponsors') %>
  </div>
  <br />

<%= yield %>

<%= render "shared/footer" %>

</body>
</html>
